



<section class="text-gray-600 body-font">
  
    <div class="container px-5 py-24 mx-auto">
     
      <div class="flex flex-col">
        <div class="h-1 bg-gray-200 rounded overflow-hidden">
          <div class="w-24 h-full bg-indigo-500"></div>
        </div>
        <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="hall">2023 HALL OF FAME</h1>
          <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0"></p>
        </div>
      </div>
      <h3> ACADEMICS</h3>
      <div class= "flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content"  class="object-cover object-center h-full w-full" src="assets/pictures/group.jpeg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Grade 12 Provincial top 6 </h2>
          <p class="text-base leading-relaxed mt-2">Our grade 12 provincial top 6 .(from right to left back) Nandi Zulu, Nyanga Khoza,Vusi Mthombeni,lucky Mahlangu, Leah Smith, Tamryn Booysens</p>
          <a class="text-indigo-500 inline-flex items-center mt-3">
    
            
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/pictures/grad11.png">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Grade 11 Provincial top 6</h2>
          <p class="text-base leading-relaxed mt-2">Our grade 11 provincial top 6 .(from right to left back).Nhlanhla Nyalungu,Sfiso Langa,Thabo Mdluli,(Front) Nkuleko Nhlapho,Anathi Tladi,Precious Fakude </p>
          <a class="text-indigo-500 inline-flex items-center mt-3">
          
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/pictures/group2.png">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Grade 10 Provincial top 8 </h2>
          <p class="text-base leading-relaxed mt-2">Our grade 10 provincial top 8 .(from right to left back).nelly Ntonto,Ayanda Ntuli,Alencia Mdluli,lizzy Nkosi,Nthabeleng Khoele(Front) Lydia Khathu,Letty Dlamini,Londeka Mahlalela</p>
          <a class="text-indigo-500 inline-flex items-center mt-3">
            
          </a>
          
             
        </div>
      </div>
    </div>
 
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
       </div>
      <h3>EXTRA ACTIVITIES</h3>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class=   "p-4 md:w-1/3 sm:mb-0 mb-6">
          
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/pictures/debate.jpg">
          </div>
         
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">World champion debate team</h2>
         
          <p class="text-base leading-relaxed mt-2">Our school debate team.Kate Masina,Angelica Nkosi,Loveness Mdluli.</p>
           
          
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/pictures/chess.jpeg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">World top 2 chess player</h2>
          <p class="text-base leading-relaxed mt-2">World chess player for under 16 Kaylin Moodley</p>
          <a class="text-indigo-500 inline-flex items-center mt-3">
            
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/pictures/netball.jpg">>
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Champions holder for SA netball </h2>
          <p class="text-base leading-relaxed mt-2">Netball team under 17
          <a class="text-indigo-500 inline-flex items-center mt-3">
           
          </a>
             
        </div>
      </div>
    </div>
  </section>