.hall{
    
    background: #1e549f;  
    color: aliceblue;
    font-size: 20px;

}

h2{ color:rgb(48, 142, 193);
    text-decoration:underline ;

}
h3{
    background-color: #1e549f;
    color: aliceblue;
    margin-top: 5pxpx;
}
img{
    margin-top: 50px;
    border-radius: 10px;
}


.container{


margin-bottom:-200px ;
}




