#events {
    color:rgb(48, 142, 193)
}

#extra{
    color:rgb(48, 142, 193)
}
#art{
    color:rgb(48, 142, 193)
}
#sport{
    color:rgb(48, 142, 193)
}

#school{
    color:rgb(48, 142, 193)
}

#sportB{
    background: #1e549f;
    color: aliceblue;
}

#artB{
    background: #1e549f;
    color: aliceblue;
}
#extraB{
    background: #1e549f;
    color: aliceblue;
}

#eventsB{
    background: #1e549f;
    color: aliceblue;
}