<app-nav></app-nav>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-20 mx-auto" id="main">
    <div class="flex flex-col text-center w-full mb-5">
      <h2
        class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1"
      ></h2>
      <h1
        id="school"
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-blue-900"
      >
        School Activities
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        At Shaper High, we believe that learning extends beyond the classroom.
        Our vibrant array of activities and rich school culture are designed to
        complement your academic journey and foster a well-rounded educational
        experience. 
      </p>
    </div>
    <div class="flex flex-wrap">
      <div
        class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 "
      >
        <h2
          id="sport"
          class="text-lg sm:text-xl text-blue-900 font-medium title-font mb-2"
        >
          Sports
        </h2>
        <p class="leading-relaxed text-base mb-4">
          <a
            id="sportB"
            class="flex flex-col items-center bg-white  md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <img
              class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
              src="/docs/images/blog/image-4.jpg"
              alt=""
            />
            <div class="flex flex-col justify-between p-4 leading-normal">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                <img src="https://static.scientificamerican.com/sciam/cache/file/97E2C215-3F23-40B1-A327AFF3313A1B4C_source.jpg" alt="content" />
              </h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Teams: Soccer, basketball, swimming, track, and field, among
                others. Intramural Sports.
              </p>
            </div>
          </a>
        </p>
      </div>
      <div
        class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60"
      >
        <h2
          id="art"
          class="text-lg sm:text-xl text-blue-900 font-medium title-font mb-2"
        >
          Music and Arts
        </h2>
        <p class="leading-relaxed text-base mb-4">
          <a
            id="artB"
            class="flex flex-col items-center bg-white  md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <img
              class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
              src="/docs/images/blog/image-4.jpg"
              alt=""
            />
            <div class="flex flex-col justify-between p-4 leading-normal">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                <img src="https://media.istockphoto.com/id/1457977017/photo/music-high-school-class.jpg?s=612x612&w=0&k=20&c=1M14LFk_P46wQZl5ZXFNKQzYqXLVlZSV2C05NjCR-zo=" alt="content" />
              </h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                We offer an enriched and comprehensive curriculum with advanced training in art and music</div>
          </a>
        </p>
      </div>
      <div
        class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60"
      >
        <h2
          id="extra"
          class="text-lg sm:text-xl text-blue-900 font-medium title-font mb-2"
        >
          Extra activities
        </h2>
        <p class="leading-relaxed text-base mb-4">
          <a
            id="extraB"
            class="flex flex-col items-center bg-white  md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <img
              class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
              src="/docs/images/blog/image-4.jpg"
              alt=""
            />
            <div class="flex flex-col justify-between p-4 leading-normal">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                <img src="https://media.istockphoto.com/id/1160232370/photo/junior-high-school-age-students-conduct-science-experiments-in-classroom.jpg?s=612x612&w=0&k=20&c=7tPj-D8C9R7abnttTRB0ulVAiMyGw3BnXbVwv_AxFEU=" alt="content" />
              </h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Our curriculum includes diverse extracurriculars like chess, debate, robotics, and sports.
              </p>
            </div>
          </a>
        </p>
      </div>

      <div
        class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60"
      >
      <h2
      id="extra"
      class="text-lg sm:text-xl text-blue-900 font-medium title-font mb-2"
    >
      Events
    </h2>
    <p class="leading-relaxed text-base mb-4">
      <a
        id="extraB"
        class="flex flex-col items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
      >
        <img
          class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
          src="/docs/images/blog/image-4.jpg"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            <img src="https://www.roosevelthighschool.co.za/wp-content/uploads/home-gallery.jpg" alt="content" />
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">

            Our curriculum features events like cultural day and matric dance to embrace diversity.          </p>
        </div>
      </a>
    </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
