<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1"></h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">School Activities</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">At Shaper High, we believe that learning extends beyond the classroom. Our vibrant array of activities and rich school culture are designed to complement your academic journey and foster a well-rounded educational experience.

            Whether you’re passionate about sports, the arts, community service, or academic challenges, there’s a place for you here. Our diverse programs offer opportunities to explore new interests, develop leadership skills, and build lasting friendships. From the thrill of athletic competitions to the creativity of our performing arts, each activity is a chance to grow, contribute, and connect.
            
            </p>
      </div>
      <div class="flex flex-wrap">
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Sports</h2>
          <p class="leading-relaxed text-base mb-4"> 
            <img src="assets/images/rugby2.jpg" alt="content">
            Sports and Physical Activities:

Teams: Soccer, basketball, swimming, track, and field, among others.
Intramural Sports: Less competitive, offering more inclusive participation.
Fitness Programs: Yoga, dance classes, and general fitness training.

          </p>
          <a class="text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Music and Arts</h2>
          <p class="leading-relaxed text-base mb-4">
            <img src="assets/images/art2.jpg" alt="content">
            Arts and Performance:

Drama Club: Encourages theatrical performance and production. <br>
Music Band/Choir: For students interested in playing instruments or singing. <br>
Art Club: Offers opportunities for drawing, painting, and other creative expressions.
          </p>
          <a class="text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Extra activities</h2>
          <p class="leading-relaxed text-base mb-4">
            <img src="assets/images/chess_club.jpg" alt="content">
            -Board and Strategic games <br>
            -Academic competitions <br>
            -Cooking and Baking <br>
            -Gardening <br>
            -Entraprenuiship and business clubs <br>
            -Debate and public speaking events <br>
            -Technology, coding and gaming <br>
            -Fundraising activities <br>
          </p>
          <a class="text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Events</h2>
          <p class="leading-relaxed text-base mb-4">
            <img src="assets/images/" alt="">
          </p>
          <a class="text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
    </div>
  </section>
